.venv/
__pycache__/
*.pyc
uploads/audio/*
uploads/images/*
uploads/documents/*
!uploads/audio/.gitkeep
!uploads/images/.gitkeep
!uploads/documents/.gitkeep
models/*
!models/.gitkeep
.env
db.sqlite
logs/*
!logs/.gitkeep
.pytest_cache/
.streamlit/

node_modules/
.next/
test_db.sqlite
